body {
    background: linear-gradient(to right, #bdc3c7, #c9d3dd);
}
#title {
    color: white;
    text-shadow: 4px 4px 5px rgb(44, 43, 46);
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: xxl;
}

li {
    margin: 2px;
}

li .badge {
    display: none ;
    background-color: rgb(219, 178, 178);
    border: 0px;
}

li .badge:hover {
    background-color: rgb(230, 100, 100);

}

li:hover .badge {
    display: block ;
}